$tcc-orange: (
  50 : #fdece5,
  100 : #facebe,
  200 : #f7ae93,
  300 : #f38e67,
  400 : #f17547,
  500 : #ee5d26,
  600 : #ec5522,
  700 : #e94b1c,
  800 : #e74117,
  900 : #e2300d,
  A100 : #ffffff,
  A200 : #ffdfda,
  A400 : #ffb3a7,
  A700 : #ff9d8e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$tcc-blue: (
  50 : #e5e5e7,
  100 : #bebec2,
  200 : #92939a,
  300 : #666871,
  400 : #464752,
  500 : #252734,
  600 : #21232f,
  700 : #1b1d27,
  800 : #161721,
  900 : #0d0e15,
  A100 : #5959ff,
  A200 : #2626ff,
  A400 : #0000f2,
  A700 : #0000d9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
