@use '@angular/material' as mat;
@use 'sass:meta';
@use 'sass:map';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import "color-palettes";
@import "typography";

@mixin tcc-angular-material-theme($themeFun: map.get(meta.module-functions(mat), "define-light-theme")) {

        $tcc-primary: mat.define-palette($tcc-orange) !default;
        $tcc-accent: mat.define-palette($tcc-blue) !default;

        $tcc-theme: meta.call($themeFun, $tcc-primary, $tcc-accent) !default;

        @include mat.all-component-themes($tcc-theme);

        $custom-typography: mat.define-typography-config(
                $font-family: quoteFontFamily($tcc-font-family)
        ) !default;

        @include mat.all-component-typographies($custom-typography);

        body {
                font-family: $tcc-font-family;
        }
}

@mixin tcc-angular-material-dark-theme() {
        @include tcc-angular-material-theme(map.get(meta.module-functions(mat), "define-dark-theme"));
}
