<mat-toolbar color="accent">
  <h1>theCodeCampus Angular Material Theme Demo</h1>
</mat-toolbar>

<div class="content">
  <button mat-raised-button color="primary" (click)="openDialog()">Open Dialog</button>
</div>

<div class="content">
  <h3>Basic Buttons</h3>
  <div class="button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button routerLink=".">Link</a>
  </div>

  <h3>Raised Buttons</h3>
  <div class="button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button routerLink=".">Link</a>
  </div>

</div>
